body.anniversary60th {
  .header {
    height: 120px;
    .header__logo {
      width: calc(424px * 0.6);
      transition: none;
    }
    @include SP {
      height: 100px;
      .header__logo {
        width: 272px;
      }
    }
    .anniv-gnav {
      @include SP {
        background-color: rgba(#fff,.9);
        display: block;
        height: calc(100% - 100px);
        overflow-y: scroll;
        opacity: 0;
        padding: 16px 16px 0;
        pointer-events: none;
        visibility: hidden;
        width: 100%;
        position: fixed;
        top: 100px;
        left: 0;
        transition: 0.3s;
        &.is-active {
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }
      }
      ul {
        color: #2A4F2C;
        display: flex;
        gap: 0 calc(50px * 0.6);
        @include font-size(15);
        @media (max-width: 1260px) {
          gap: 0 calc(25px * 0.6);
          @include font-size(12);
        }
        @include SP {
          @include font-size(16);
          flex-direction: column;
          gap: 40px 0;
          padding: 50px 16px 0;
        }
        li {
          &.is-blank {
            a {
              background: url(../images/common/icon_blank.svg) no-repeat 100% 50% / 11px 11px;
              display: inline-block;
              padding-right: 18px;
            }
          }
          &.is-online {
            a {
              background: url(../images/common/icon_shop.svg) no-repeat 100% 50% / 16px 14px;
              display: inline-block;
              padding-right: 22px;
            }
          }
        }
      }
      .anniv-gnav__sns {
        display: none;
        @include SP {
          display: flex;
          flex-direction: column;
          gap: 18px 0;
          margin-top: 40px;
          padding-bottom: 40px;
          padding-top: 0;
          li img {
            width: 40px;
          }
        }
      }
    }
  }
  .wrap {
    padding-top: 120px;
    @include SP {
      padding-top: 100px;
    }
  }
  main {
    .anniv-title {
      color: #2A4F2C;
      font-family: $serif;
      font-weight: 700;
      letter-spacing: 0.1em;
      @include font-size(36);
      margin-bottom: 45px;
      text-align: center;
      @include SP {
        margin-bottom: 12px;
        line-height: calc(50 / 36);
      }
    }
    .anniv-lead {
      color: #2A4F2C;
      font-family: $serif;
      font-weight: 700;
      @include font-size(24);
      margin-bottom: 45px;
      text-align: center;
      @include SP {
        @include font-size(20);
        line-height: calc(35 / 20);
        margin-bottom: 28px;
      }
    }
    .lead {
      padding-bottom: 120px;
      padding-top: 120px;
      text-align: center;
      h2 {
        img {
          max-width: calc(760px * 0.6);
        }
      }
      .lead__text {
        color: #2A4F2C;
        font-family: $serif;
        @include font-size(20);
        line-height: 2;
        padding-top: 100px;
        p {
          margin-top: 2em;
          &:first-child {
            margin-top: 0;
          }
        }
      }
      @include SP {
        padding-bottom: 60px;
        padding-top: 60px;
        h2 {
          img {
            max-width: 270px;
          }
        }
        .lead__text {
          @include font-size(15);
          padding-top: 60px;
        }
      }
    }
    .history {
      background-color: #E5E5E5;
      padding-bottom: 60px;
      padding-top: 60px;
      @include SP {
        overflow: hidden;
      }
      .history__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 80px;
        position: relative;
        z-index: 0;
        &::before {
          background-color: #2A4F2C;
          content: "";
          height: 100%;
          width: 2px;
          position: absolute;
          left: 59px;
          top: 0;
          z-index: -1;
        }
        @include SP {
          display: block;
          margin-top: 30px;
          &::before {
            height: calc(100% - 10px);
            width: 1px;
            left: 14px;
          }
        }
        dt {
          width: 120px;
          position: relative;
          z-index: 0;
          &:nth-last-child(2) {
            &::before {
              background-color: #E5E5E5;
              content: "";
              height: 100%;
              width: 100%;
              position: absolute;
              left: 0;
              top: 0;
              z-index: -1;
            }
          }
          @include SP {
            padding-left: 0;
            width: 100px;
            &:nth-last-child(2) {
              &::before {
                content: none;
              }
            }
          }
        }
        dd {
          display: flex;
          @include font-size(12);
          gap: 0 3%;
          margin-bottom: calc(80px * 0.6);
          min-height: calc(580px * 0.6);
          padding-left: 70px;
          width: calc(100% - 120px);
          &.is-no-minheight {
            margin-bottom: calc(160px * 0.6);
          }
          &.is-no-minheight,
          &:last-child {
            min-height: 0;
          }
          &.is-box07,
          &.is-box08 {
            margin-bottom: calc(100px * 0.6);
          }
          @include SP {
            display: block;
            margin-bottom: 40px;
            min-height: 0;
            padding-left: 32px;
            padding-top: 12px;
            width: auto;
            &.is-no-minheight {
              margin-bottom: 40px;
            }
            &.is-box07,
            &.is-box08 {
              margin-bottom: 0;
            }
            &:last-child {
              position: relative;
              &::before {
                background-color: #E5E5E5;
                content: "";
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
              }
            }
          }
        }
        .history__list__text {
          width: 48.5%;
          h3 {
            color: #2A4F2C;
            @include font-size(20);
            font-weight: 700;
            line-height: 2;
            margin-bottom: 1em;
          }
          p {
            line-height: 2;
          }
          @include SP {
            width: auto;
            h3 {
              @include font-size(15);
              line-height: calc(25 / 15);
            }
          }
        }
        .history__list__img {
          width: 48.5%;
          img {
            display: block;
          }
          &.is-img01 {
            img {
              &:nth-child(1) {
                max-width: calc(370px * 0.6);
              }
              &:nth-child(2) {
                margin-left: auto;
                margin-top: calc(-140px * 0.6);
                max-width: calc(360px * 0.6);
              }
            }
          }
          &.is-img02 {
            img {
              &:nth-child(1) {
                margin-left: calc(30px * 0.6);
                margin-top: calc(-320px * 0.6);
                max-width: calc(280px * 0.6);
              }
              &:nth-child(2) {
                margin-left: auto;
                margin-top: 20px;
                max-width: calc(410px * 0.6);
              }
            }
          }
          &.is-img03 {
            img {
              margin-top: calc(-120px * 0.6);
              max-width: calc(650px * 0.6);
            }
          }
          &.is-img04 {
            img {
              &:nth-child(1) {
                margin-left: calc(90px * 0.6);
                margin-top: calc(-360px * 0.6);
                max-width: calc(435px * 0.6);
              }
              &:nth-child(2) {
                margin-left: calc(170px * 0.6);
                margin-top: calc(30px * 0.6);
                max-width: calc(510px * 0.6);
              }
            }
          }
          &.is-img05 {
            img {
              &:nth-child(1) {
                margin-left: auto;
                margin-top: calc(-320px * 0.6);
                max-width: calc(510px * 0.6);
              }
              &:nth-child(2) {
                margin-top: calc(40px * 0.6);
                max-width: calc(435px * 0.6);
              }
            }
          }
          &.is-img06 {
            img {
              &:nth-child(1) {
                margin-left: auto;
                margin-top: calc(-120px * 0.6);
                max-width: calc(440px * 0.6);
              }
              &:nth-child(2) {
                margin-bottom: calc(-240px * 0.6);
                margin-top: calc(-20px * 0.6);
                max-width: calc(280px * 0.6);
              }
            }
          }
          &.is-img07 {
            img {
              margin-left: auto;
              margin-top: calc(120px * 0.6);
              max-width: calc(435px * 0.6);
            }
          }
          @include SP {
            margin-top: 40px;
            width: auto;
            &.is-img01 {
              margin-bottom: -54px;
              img {
                &:nth-child(1) {
                  max-width: 100%;
                }
                &:nth-child(2) {
                  margin-left: auto;
                  margin-top: 20px;
                  max-width: calc(244 / 393 * 100vw);
                  transform: translateX(16px);
                }
              }
            }
            &.is-img02 {
              img {
                &:nth-child(1) {
                  margin-left: calc(90 / 393 * 100vw);
                  margin-top: calc((-12 / 393 * 100vw) - 40px);
                  max-width: calc(195 / 393 * 100vw);
                }
                &:nth-child(2) {
                  margin-left: 0;
                  margin-top: 20px;
                  max-width: 100%;
                }
              }
            }
            &.is-img03 {
              img {
                margin-top: 0;
                max-width: calc(327 / 393 * 100vw);
                transform: translateX(16px);
              }
            }
            &.is-img04 {
              img {
                &:nth-child(1) {
                  margin-left: 0;
                  margin-top: 0;
                  max-width: 100%;
                }
                &:nth-child(2) {
                  margin-left: auto;
                  margin-top: 20px;
                  max-width: calc(313 / 393 * 100vw);
                  transform: translateX(calc((24 / 393 * 100vw) + 16px));
                }
              }
            }
            &.is-img05 {
              img {
                &:nth-child(1) {
                  margin-top: -40px;
                  max-width: calc(310 / 393 * 100vw);
                  transform: translateX(16px);
                }
                &:nth-child(2) {
                  margin-top: 14px;
                  max-width: 100%;
                }
              }
            }
            &.is-img06 {
              img {
                &:nth-child(1) {
                  margin-left: 0;
                  margin-top: -24px;
                  max-width: 100%;
                }
                &:nth-child(2) {
                  margin: 28px auto 0;
                  max-width: calc(184 / 393 * 100vw);
                }
              }
            }
            &.is-img07 {
              img {
                margin-left: 0;
                margin-top: 0;
                max-width: 100%;
              }
            }
          }
        }
      }
    }
    .items {
      padding-bottom: 120px;
      padding-top: 120px;
      @include SP {
        padding-bottom: 60px;
        padding-top: 60px;
      }
      .items__list {
        color: #2A4F2C;
        display: flex;
        gap: 0 calc(80px * 0.6);
        margin: calc(80px * 0.6) auto calc(100px * 0.6);
        max-width: calc(940px * 0.6);
        li {
          p {
            @include font-size(12);
            line-height: 1.2;
            margin-top: calc(24px * 0.6);
          }
        }
        @include SP {
          display: grid;
          grid-template-columns: repeat(2,1fr);
          gap: calc(30 / 393 * 100vw) calc(20 / 393 * 100vw);
          margin: 28px auto 45px;
          max-width: 100%;
          li {
            p {
              margin-top: 10px;
            }
          }
        }
      }
      .items__btn {
        margin-left: auto;
        margin-right: auto;
        max-width: calc(720px * 0.6);
        a {
          color: #fff;
          display: block;
          font-family: $serif;
          font-weight: 700;
          text-align: center;
          position: relative;
          z-index: 0;
          .items__btn__inner {
            background-color: #2A4F2C;
            border-radius: 12px;
            display: block;
            padding: calc(40px * 0.6) 0;
          }
          &::before {
            background-color: #fff;
            border: 2px solid #2A4F2C;
            border-radius: 12px;
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            left: 12px;
            top: 12px;
            z-index: -1;
          }
          strong {
            display: block;
            @include font-size(42);
          }
          span {
            display: block;
            @include font-size(16);
            line-height: 1.6;
            margin-top: 12px;
          }
        }
        @include SP {
          padding-right: 12px;
          width: calc(325 / 393 * 100vw);
          a {
            .items__btn__inner {
              padding: 16px 0;
            }
            &::before {
              left: 8px;
              top: 8px;
            }
            strong {
              @include font-size(30);
            }
            span {
              @include font-size(12);
              margin-top: 9px;
            }
          }
        }
      }
    }
    .message {
      background-color: #2A4F2C;
      color: #fff;
      padding-bottom: 80px;
      padding-top: 80px;
      .anniv-title {
        color: #fff;
        margin-bottom: calc(80px * 0.6);
      }
      @include SP {
        padding-bottom: 60px;
        padding-top: 60px;
        .anniv-title {
          margin-bottom: 32px;
        }
      }
      .message__box {
        display: flex;
        gap: 0 calc(120px * 0.6);
        p {
          font-family: $serif;
          @include font-size(16);
          font-weight: 700;
          line-height: 2;
        }
        .message__box__text {
          width: calc(100% - (360px * 0.6));
        }
        .message__box__img {
          width: calc(360px * 0.6);
          figcaption {
            @include font-size(12);
            line-height: 2;
            margin-top: 10px;
            span {
              display: block;
              @include font-size(20);
            }
          }
        }
        @include SP {
          display: block;
          p {
            @include font-size(15);
          }
          .message__box__text {
            margin-bottom: 40px;
            width: auto;
          }
          .message__box__img {
            align-items: center;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 0 calc(16 / 393 * 100vw);
            width: auto;
            figcaption {
              @include font-size(12);
              line-height: 2;
              margin-top: 0;
              span {
                @include font-size(15);
              }
            }
          }
        }
      }
    }
  }
  .footer-anniv {
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;
    position: relative;
    .footer-anniv__logo {
      display: inline-block;
      margin-bottom: 30px;
      width: calc(360px * 0.6);
    }
    .footer-anniv__sns {
      display: flex;
      gap: 0 20px;
      justify-content: center;
      li {
        img {
          width: 40px;
        }
      }
    }
    .footer-anniv__copyright {
      margin-top: calc(100px * 0.6);
      span,
      small {
        display: block;
        font-family: $serif;
        font-weight: 700;
        @include font-size(10);
      }
      span {
        margin-top: 1em;
      }
    }
    @include SP {
      .footer-anniv__logo {
        margin-bottom: 28px;
        width: 206px;
      }
      .footer-anniv__sns {
        gap: 0 28px;
        li {
          img {
            width: 50px;
          }
        }
      }
      .footer-anniv__copyright {
        margin-top: 56px;
        span,
        small {
          @include font-size(12);
          line-height: calc(25 / 12);
        }
        span {
          margin-top: 1em;
        }
      }
    }
  }
}
