.header {
  position: fixed;
  width: 100%;
  height: 80px;
  background: #fff;
  padding: 0 40px;
  @include display-flex();
  @include justify-content(space-between);
  @include align-items(center);
  z-index: 99;
  @include SP {
    height: 64px;
    padding: 0 16px;
  }
  &__logo {
    width: 180px;
    display: block;
    @include SP {
      width: 140px;
    }
  }
  .gnav {
    @include display-flex();
    @include align-items(center);
    &.is-active {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
    @include SP {
      position: fixed;
      top: 64px;
      left: 0;
      width: 100%;
      // height: 100%;
      height: calc(100% - 64px);
      // background: #ccc;
      background: url(../images/common/bg_header.jpg)center center/cover no-repeat;
      display: block;
      padding: 16px 16px 0;
      overflow-y: scroll;
      opacity: 0;
      transition: 0.3s;
      visibility: hidden;
      pointer-events: none;
      // display: none;
    }
    ul {
      @include display-flex();
      @include align-items(center);
      @include SP {
        display: block;
      }
      .bp {
        @include SP {
          padding-bottom: 1px;
        }
      }
      li {
        margin-left: 40px;
        cursor: pointer;
        @include SP {
          background: #fff;
          margin: 0 0 13px;
        }
        a {
          &:hover {
            opacity: 1;
          }
        }
        span {
          @include font-size(16);
          font-weight: 700;
          position: relative;
          @include SP {
            font-weight: 300;
            padding: 14px;
            display: block;
          }
          &:before {
            content: "";
            width: 0;
            height: 2px;
            display: block;
            background: #707070;
            position: absolute;
            bottom: -11px;
            left: 0;
            transition: .3s;
          }
          &:hover {
            &:before {
              width: 100%;
              @include SP {
                width: 0;
              }
            }
          }
        }
        .rec {
          &:after {
            content: "";
            width: 14px;
            height: 14px;
            display: inline-block;
            background: url(../images/common/icon_link.svg)center center/cover no-repeat;
            margin-left: 6px;
            position: relative;
            top: 1px;
            @include SP {
              position: absolute;
              width: 18px;
              height: 18px;
              top: 50%;
              @include transform(translate(0,-50%));
              right: 11px;
            }
          }
        }
        .contact {
          background: #CECECE;
        }
        &:hover {
          .arrow {
            &:after {
              opacity: 1;
              visibility: visible;
            }
          }
          .hover {
            opacity: 1;
            visibility: visible;
          }
        }
        .arrow {
          &:after {
            content: "";
            border-right: 22px solid transparent;
            // border-bottom: 37px solid #fff;
            border-bottom: 37px solid rgba(255,255,255,0.9);
            border-left: 22px solid transparent;
            filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.05));
            position: absolute;
            left: 50%;
            @include transform(translate(-50%,0));
            top: 28px;
            opacity: 0;
            transition: 0.3s;
            visibility: hidden;
          }
        }
        .hover {
          position: fixed;
          width: 86.48%;
          top: 93px;
          left: 50%;
          @include transform(translate(-50%,0));
          background: rgba(255,255,255,0.9);
          padding: 40px 70px 25px;
          box-shadow: 2px 4px 5px rgba(0,0,0,0.05);
          max-width: 1107px;
          opacity: 0;
          transition: 0.3s;
          visibility: hidden;
          @include SP {
            opacity: 1;
            visibility: visible;
            position: static;
            @include transform(translate(0%,0));
            width: 100%;
            padding: 0 14px;
            box-shadow: none;
          }
          .box {
            @include SP {
              margin: 0 0 10px;
            }
            a {
              &:hover {
                opacity: 0.7;
              }
            }
            strong {
              @include font-size(16);
              font-weight: 700;
              line-height: 1.18;
              margin: 0 0 18px;
              display: inline-block;
              @include SP {
                @include font-size(15);
                font-weight: 300;
                display: block;
                padding: 14px 18px;
                // background: #EEEAE6;
                background: url(../images/common/bg_header.jpg)center center/cover no-repeat;
                margin: 0;
                position: relative;
              }
              &:after {
                content: "";
                // width: 100%;
                width: 0;
                height: 2px;
                display: block;
                background: #707070;
                margin: 8px 0 0;
                transition: 0.3s;
                @include SP {
                  content: none;
                }
              }
              &:hover {
                &:after {
                  width: 100%;
                }
              }
            }
            .trigger {
              &:after {
                @include SP {
                  content: "";
                  width: 6px;
                  height: 6px;
                  border-top: 1px solid #707070;
                  border-right: 1px solid #707070;
                  @include transform(rotate(135deg));
                  display: inline-block;
                  background: none;
                  position: absolute;
                  right: 10px;
                  top: 9px;
                }
              }
              &.is-active {
                &:after {
                  @include SP {
                    @include transform(rotate(-45deg));
                    width: 6px;
                    top: 12px;
                  }
                }
              }
              &:hover {
                &:after {
                  @include SP {
                    width: 6px;
                  }
                }
              }
            }
            ul {
              display: block;
              @include SP {
                margin: 1px 0 0;
                padding: 16px 38px 2px;
                // background: #EEEAE6;
                display: none;
                background: url(../images/common/bg_header.jpg)center center/cover no-repeat;
              }
              li {
                @include font-size(14);
                line-height: 1.214;
                margin: 0 0 15px;
                @include SP {
                  background: none;
                  font-weight: 300;
                }
              }
            }
          }
          .box02 {
            padding: 24px 0 2px;
            border-bottom: 1px solid #4D4D4D;
            &:last-of-type {
              border: none;
            }
            &__top {
              @include display-flex();
              @include align-items(center);
              margin: 0 0 20px;
              strong {
                @include font-size(16);
                font-weight: 700;
                line-height: 1.18;
                display: inline-block;
                margin: 0 22px 0 0;
              }
              .label {
                width: 62px;
                height: 19px;
                color: #fff;
                @include display-flex();
                @include justify-content(center);
                @include align-items(center);
                margin-right: 3px;
                @include font-size(11);
                letter-spacing: 0.02em;
                margin-top: 1px;
                &:before {
                  content: none;
                }
              }
              .brw {
                background: #804A1B;
              }
              .grn {
                background: #2A4F2C;
              }
            }
            .store-list {
              @include display-flex();
              @include flex-wrap(wrap);
              li {
                @include font-size(14);
                line-height: 1.214;
                margin: 0 65px 20px 0;
              }
            }
          }
        }
        .hover01 {
          @include display-flex();
          @include justify-content(space-between);
          padding: 40px 70px 28px;
          // display: none;
          @include SP {
            display: block;
            padding: 0 14px;
          }
        }
        .hover02 {
          strong {
            @include font-size(16);
            font-weight: 700;
            line-height: 1.18;
            display: inline-block;
            margin: 0 0 14px;
          }
          // display: none;
        }
      }
    }
    .online {
      width: 162px;
      height: 80px;
      @include display-flex();
      @include align-items(center);
      @include justify-content(center);
      color: #fff;
      font-weight: 700;
      background: #2E5C3D;
      @include font-size(16);
      letter-spacing: -0.075em;
      margin-left: 40px;
    }
    .sns-list {
      @include display-flex();
      @include justify-content(center);
      @include align-items(center);
      margin: 20px 0;
      li {
        width: 42px;
        background: none;
        margin: 0 12px;
      }
    }
    .bottom {
      padding: 0 16px;
      @include display-flex();
      @include justify-content(center);
      background: rgba(46,92,61,0.8);
      width: calc(100% + 32px);
      margin: 0 -16px;
      a {
        display: block;
        height: 60px;
        padding: 7px 0 0;
        text-align: center;
        width: 50%;
        i {
          display: block;
          margin: 0 auto 7px;
        }
        span {
          @include font-size(13);
          font-weight: 300;
          color: #fff;
        }
      }
    }
  }




  .gnav-toggle {
    padding: 0;
    text-align: center;
    margin-top: 3px;
    outline: none;
    &.is-active {
      .hamburger-box {
        .hamburger-inner {
          background-color: transparent;
          &:before {
            top: 0;
            transform: rotate(-60deg);
          }
          &:after {
            bottom: 0;
            transform: rotate(60deg);
          }
        }
      }
    }
    .hamburger-box {
      width: 32px;
      height: 20px;
      margin: 0 auto;
      .hamburger-inner {
        width: 32px;
        height: 2px;
        background: #2E5C3D;
        margin: 0;
        &:before {
          width: 32px;
          height: 2px;
          background: #2E5C3D;
          top: -9px;
        }
        &:after {
          width: 32px;
          height: 2px;
          background: #2E5C3D;
          bottom: -9px;
        }
      }
    }
    .text {
      margin: 5px 0 0;
      small {
        @include font-size(11);
        letter-spacing: 0.075em;
        color: #2E5C3D;
      }
    }
  }
}
